@font-face {
  font-family: "DIN";
  src: url("/css/fonts/DIN-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Freight Text";
  src: url("/css/fonts/FreightText-Light.otf") format("opentype");
}
@font-face {
  font-family: "Freight Text";
  src: url("/css/fonts/FreightText-LightIta.otf") format("opentype");
  font-style: italic;
}
@font-face {
  font-family: "Freight Text";
  src: url("/css/fonts/FreightText-Med.otf") format("opentype");
  font-weight: bold;
}
@font-face {
  font-family: "Freight Text";
  src: url("/css/fonts/FreightText-MedIta.otf") format("opentype");
  font-weight: bold;
}
@font-face {
  font-family: "Inconsolata";
  src: url("/css/fonts/Inconsolata-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Inconsolata";
  src: url("/css/fonts/Inconsolata-Bold.ttf") format("truetype");
  font-style: bold;
}
/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-font-feature-settings: "liga" 1, "onum" 1, "kern" 1;
}

/**
 * Basic styling
 */
body {
  font-family: DIN;
  font-size: 30px;
  line-height: 1.5;
  font-weight: 200;
  color: #333;
  background-color: #f4f4f4;
  -webkit-text-size-adjust: 100%;
}

::selection {
  background: #6780a1;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
.highlight {
  margin-bottom: 25px;
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: 24px;
}

/**
 * Lists
 */
ul, ol {
  margin-left: 25px;
}

li > ul,
li > ol {
  margin-bottom: 0;
}

/**
 * Headings
 */
h1, h2 {
  margin-top: 30px;
  font-weight: 100;
}

h3, h4 {
  margin-top: 27.5px;
  font-weight: 100;
  letter-spacing: 3px;
  text-transform: uppercase;
}

h5, h6 {
  margin: 0;
  margin-top: 16.66667px;
  line-height: 0.99;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 48px;
}

/**
 * Links
 */
a {
  color: #171D25;
  text-decoration: none;
}
a:hover {
  color: #333;
}

.active {
  font-weight: bold;
}

/**
 * Blockquotes
 */
blockquote {
  color: #0d1115;
  border-left: 4px solid #171D25;
  padding-left: 12.5px;
  font-size: 18px;
  font-style: italic;
}
blockquote > :last-child {
  margin-bottom: 0;
}

/**
 * Code formatting
 */
pre,
code {
  font-family: Inconsolata;
  color: #0d1115;
  font-weight: 300;
  background-color: #6780a1;
}

code {
  border-radius: 4px;
  padding: 1px 5px;
  overflow-x: scroll;
}

pre {
  padding: 8px 12px;
}
pre > code {
  border: 0;
  padding-right: 0;
  padding-left: 0;
}

.highlight {
  font-size: 18px;
}
.highlight pre code span {
  overflow-x: scroll !important;
}

/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(70% - (25px * 2));
  max-width: calc(70% - (25px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 25px;
  padding-left: 25px;
}
@media screen and (max-width: 1000px) {
  .wrapper {
    max-width: -webkit-calc(70% - (25px));
    max-width: calc(70% - (25px));
    padding-right: 12.5px;
    padding-left: 12.5px;
  }
}

/**
 * Clearfix
 */
.wrapper:after {
  content: "";
  display: table;
  clear: both;
}

/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
.icon > svg path {
  fill: #171D25;
}

/**
 * Site header
 */
.site-header {
  min-height: 55px;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 0px;
  z-index: 5;
  left: 0px;
  transition: ease-in-out top .14s;
}

.search {
  background: none;
  border: none;
  outline: none;
  transition: all ease 200ms;
  width: 100%;
  margin-bottom: 40px;
  opacity: .8;
  font-size: 30px;
}
.search:focus {
  outline: none;
  opacity: 1;
}

.site-title {
  font-size: 26px;
  line-height: 50px;
  margin-bottom: 0;
  float: left;
}
.site-title:visited {
  color: #0d1115;
}

a {
  transition: 200ms all ease;
}

.site-nav {
  float: right;
  line-height: 55px;
  font-size: 1.3rem;
  letter-spacing: 1.8;
  text-transform: uppercase;
  color: white;
}
.site-nav .menu-icon {
  display: none;
}
.site-nav .page-link {
  opacity: .8;
  color: white;
  line-height: 1.5;
  font-family: DIN;
}
.site-nav .page-link:hover {
  opacity: 1;
}
.site-nav .page-link:not(:first-child) {
  margin-left: 20px;
}
.site-nav .active {
  opacity: 1;
}
@media screen and (max-width: 700px) {
  .site-nav {
    position: absolute;
    top: 9px;
    right: 30px;
    background-color: #171D25;
    border-radius: 5px;
    text-align: right;
  }
  .site-nav .menu-icon {
    display: block;
    float: right;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding-top: 10px;
    text-align: center;
  }
  .site-nav .menu-icon > svg {
    width: 18px;
    height: 14px;
  }
  .site-nav .menu-icon > svg path {
    fill: white;
  }
  .site-nav .trigger {
    clear: both;
    display: none;
  }
  .site-nav:hover .trigger {
    display: block;
    padding-bottom: 5px;
  }
  .site-nav .page-link {
    display: block;
    padding: 5px 10px;
  }
}

/**
 * Site footer
 */
.site-footer {
  padding: 25px 0;
}
.site-footer p {
  text-align: center;
  color: #171D25;
  font-family: DIN;
  font-size: 30px;
  opacity: .5;
  letter-spacing: 6px;
  text-transform: uppercase;
}

/**
 * Page content
 */
.post {
  padding-top: 30px;
}

.post-title, .post-link {
  -webkit-animation: fadeInUp 300ms;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeInUp 300ms;
  /* Firefox < 16 */
  -ms-animation: fadeInUp 300ms;
  /* Internet Explorer */
  -o-animation: fadeInUp 300ms;
  /* Opera < 12.1 */
  animation: fadeInUp 300ms;
}

footer, #top-header-text p, .post-meta {
  -webkit-animation: fadeInUpMeta 350ms;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeInUpMeta 350ms;
  /* Firefox < 16 */
  -ms-animation: fadeInUpMeta 350ms;
  /* Internet Explorer */
  -o-animation: fadeInUpMeta 350ms;
  /* Opera < 12.1 */
  animation: fadeInUpMeta 350ms;
  animation-delay: 1s;
}

.post-content, #top-header-text h1 {
  animation-delay: 300ms;
  -webkit-animation: fadeInUp 300ms;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeInUp 300ms;
  /* Firefox < 16 */
  -ms-animation: fadeInUp 300ms;
  /* Internet Explorer */
  -o-animation: fadeInUp 300ms;
  /* Opera < 12.1 */
  animation: fadeInUp 300ms;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  font-family: DIN !important;
  margin-left: 0;
  list-style: none;
}
.post-list h1 {
  margin: 0;
}
.post-list h1 a {
  font-weight: normal;
}
.post-list > li {
  margin-bottom: 25px;
}

.post-meta {
  opacity: .5;
  margin-top: 5px;
  font-family: Freight Text, Georgia, Cambria;
  font-size: 24px;
  font-style: italic;
  color: #171D25;
  transition: 300ms all ease;
}
.post-meta span {
  cursor: help;
}
.post-meta a {
  transition: 200ms all ease;
  text-transform: capitalize;
  font-weight: bold;
}

.post-link {
  display: block;
  font-size: 28px;
  line-height: 0.99;
}
.post-link h1 {
  margin-bottom: 0;
}

/**
 * Posts
 */
.work {
  padding-top: 20px;
}
.work input.ff-selector-type-all:checked ~ label.ff-label-type-all,
.work input.ff-selector-type-1:checked ~ label.ff-label-type-1,
.work input.ff-selector-type-2:checked ~ label.ff-label-type-2,
.work input.ff-selector-type-3:checked ~ label.ff-label-type-3 {
  color: #333;
  font-weight: bold;
}
.work input {
  display: none;
}
.work label {
  cursor: pointer;
  margin-right: 20px;
}
.work a {
  border-radius: 5px;
  width: 100%;
  height: 100%;
}
.work a span {
  border-radius: 5px;
  display: block;
  font-style: italic;
  color: #fff;
  font-weight: bold;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 10px;
  width: 14vw;
  text-align: center;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.work li {
  border-radius: 5px;
  margin: 10px;
  float: left;
  height: 14vw;
  width: 14vw;
  list-style-type: none;
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
}
.work li h1 {
  opacity: 0;
  z-index: 4;
  color: #f4f4f4;
  font-family: DIN;
  position: absolute;
  font-weight: 300;
  margin-left: 30px;
  font-size: 21.6px !important;
}
.work li h1 p {
  font-family: DIN;
  font-weight: bold;
  font-size: 14.4px;
  margin-bottom: 10px;
  margin-top: 20px;
  text-transform: uppercase;
}
.work li span {
  transition: 200ms all ease;
  float: left;
  height: 14vw;
  width: 14vw;
  padding: 0;
  margin: 0;
  margin-left: -10px;
  margin-bottom: -10px;
  position: absolute;
  opacity: 0;
  z-index: 3;
  background: #171D25;
}
.work li img {
  height: 14vw;
  width: 14vw;
  border-radius: 5px;
  transition: 200ms all ease;
  position: absolute;
  float: left;
  display: inline-block;
}
.work li:hover span {
  opacity: .9;
}
.work li:hover h1 {
  opacity: 1;
}

@media screen and (max-width: 900px) {
  .work a span, .work li, .work span, .work img {
    height: 19vw !important;
    width: 19vw !important;
  }
}
@media screen and (max-width: 700px) {
  .work a span, .work li, .work span, .work img {
    height: 25vw !important;
    width: 25vw !important;
  }
}
@media screen and (max-width: 600px) {
  .work a span, .work li, .work span, .work img {
    height: 35vw !important;
    width: 35vw !important;
  }
}
.post-header {
  margin-bottom: 25px;
}

.post-title {
  font-size: 42px;
  line-height: 1;
}
@media screen and (max-width: 1000px) {
  .post-title {
    font-size: 36px;
  }
}

.reading-time {
  font-size: 22.8px;
  font-family: DIN;
}

.post-content {
  margin-top: 30px;
  margin-bottom: 30px;
}
.post-content a {
  font-weight: bold;
}
.post-content p {
  font-family: Freight Text, Georgia, Cambria;
  font-weight: 100;
  font-size: 24px;
}
.post-content h2 {
  line-height: 1.3;
}
@media screen and (max-width: 1000px) {
  .post-content h2 {
    font-size: 35px;
  }
}
.post-content ul, .post-content ol {
  font-family: Freight Text, Georgia, Cambria;
  font-size: 24px;
}
.post-content h3 {
  font-size: 28px;
}
@media screen and (max-width: 1000px) {
  .post-content h3 {
    font-size: 22px;
  }
}
.post-content h4 {
  font-size: 25px;
}
@media screen and (max-width: 1000px) {
  .post-content h4 {
    font-size: 18px;
  }
}

.faves a {
  display: block;
}

@media screen and (max-width: 700px) {
  .wrapper {
    max-width: 95%;
  }

  h1 {
    font-size: 34.8px !important;
  }
}
#particles-js {
  height: 400px;
  background: #0d1115;
}

#top-header-text h1, #top-header-text p {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  position: absolute;
  color: white;
}
#top-header-text h1 {
  margin-left: 18%;
  margin-top: 120px;
}
#top-header-text p {
  opacity: .7;
  margin-left: 18%;
  margin-top: 200px;
}

/**
 * Syntax highlighting styles
 */
.highlight {
  background: #fff;
}
.highlight .c {
  color: #998;
  font-style: italic;
}
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}
.highlight .k {
  font-weight: bold;
}
.highlight .o {
  font-weight: bold;
}
.highlight .cm {
  color: #998;
  font-style: italic;
}
.highlight .cp {
  color: #999;
  font-weight: bold;
}
.highlight .c1 {
  color: #998;
  font-style: italic;
}
.highlight .cs {
  color: #999;
  font-weight: bold;
  font-style: italic;
}
.highlight .gd {
  color: #000;
  background-color: #fdd;
}
.highlight .gd .x {
  color: #000;
  background-color: #faa;
}
.highlight .ge {
  font-style: italic;
}
.highlight .gr {
  color: #a00;
}
.highlight .gh {
  color: #999;
}
.highlight .gi {
  color: #000;
  background-color: #dfd;
}
.highlight .gi .x {
  color: #000;
  background-color: #afa;
}
.highlight .go {
  color: #888;
}
.highlight .gp {
  color: #555;
}
.highlight .gs {
  font-weight: bold;
}
.highlight .gu {
  color: #aaa;
}
.highlight .gt {
  color: #a00;
}
.highlight .kc {
  font-weight: bold;
}
.highlight .kd {
  font-weight: bold;
}
.highlight .kp {
  font-weight: bold;
}
.highlight .kr {
  font-weight: bold;
}
.highlight .kt {
  color: #458;
  font-weight: bold;
}
.highlight .m {
  color: #099;
}
.highlight .s {
  color: #d14;
}
.highlight .na {
  color: #008080;
}
.highlight .nb {
  color: #0086B3;
}
.highlight .nc {
  color: #458;
  font-weight: bold;
}
.highlight .no {
  color: #008080;
}
.highlight .ni {
  color: #800080;
}
.highlight .ne {
  color: #900;
  font-weight: bold;
}
.highlight .nf {
  color: #900;
  font-weight: bold;
}
.highlight .nn {
  color: #555;
}
.highlight .nt {
  color: #000080;
}
.highlight .nv {
  color: #008080;
}
.highlight .ow {
  font-weight: bold;
}
.highlight .w {
  color: #bbb;
}
.highlight .mf {
  color: #099;
}
.highlight .mh {
  color: #099;
}
.highlight .mi {
  color: #099;
}
.highlight .mo {
  color: #099;
}
.highlight .sb {
  color: #d14;
}
.highlight .sc {
  color: #d14;
}
.highlight .sd {
  color: #d14;
}
.highlight .s2 {
  color: #d14;
}
.highlight .se {
  color: #d14;
}
.highlight .sh {
  color: #d14;
}
.highlight .si {
  color: #d14;
}
.highlight .sx {
  color: #d14;
}
.highlight .sr {
  color: #009926;
}
.highlight .s1 {
  color: #d14;
}
.highlight .ss {
  color: #990073;
}
.highlight .bp {
  color: #999;
}
.highlight .vc {
  color: #008080;
}
.highlight .vg {
  color: #008080;
}
.highlight .vi {
  color: #008080;
}
.highlight .il {
  color: #099;
}

.animated {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@-o-keyframes fadeInUp {
  0% {
    opacity: 0;
    -o-transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -o-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeInUpMeta {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
  }
  100% {
    opacity: 0.7;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes fadeInUpMeta {
  0% {
    opacity: 0;
    -moz-transform: translateY(20px);
  }
  100% {
    opacity: 0.7;
    -moz-transform: translateY(0);
  }
}
@-o-keyframes fadeInUpMeta {
  0% {
    opacity: 0;
    -o-transform: translateY(20px);
  }
  100% {
    opacity: 0.7;
    -o-transform: translateY(0);
  }
}
@keyframes fadeInUpMeta {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 0.7;
    transform: translateY(0);
  }
}
.fadeInUpMeta {
  -webkit-animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -o-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes fadeInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@-o-keyframes fadeInDown {
  0% {
    opacity: 0;
    -o-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.fadeInDown {
  -webkit-animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -o-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

/*# sourceMappingURL=main.css.map */
