@font-face {
  font-family: "DIN";
  src: url("/css/fonts/DIN-Regular.otf") format("opentype");
}

@font-face {
  font-family: "DIN";
  src: url("/css/fonts/DIN-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Freight Text";
  src: url("/css/fonts/FreightText-MedIta.otf") format("opentype");
  font-style: italic;
  font-weight: medium;
}

@font-face {
  font-family: "Freight Text";
  src: url("/css/fonts/FreightText-Med.otf") format("opentype");
  font-weight: medium;
}

@font-face {
  font-family: "Freight Text";
  src: url("/css/fonts/FreightText-Light.otf") format("opentype");
  font-weight: lighter;
}

@font-face {
  font-family: "Freight Text";
  src: url("/css/fonts/FreightText-LightIta.otf") format("opentype");
  font-style: italic;
  font-weight: lighter;
}

@media screen and (max-width: \$on-palm) {
  .wrapper {
    padding-right: \$spacing-unit / 2;
    padding-left: \$spacing-unit / 2;
  }
}
/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-font-feature-settings: "liga" 1, "onum" 1, "kern" 1;
}

/**
 * Basic styling
 */
body {
  font-family: DIN;
  font-size: 26.5px;
  line-height: 1.5;
  font-weight: 300;
  color: #333333;
  background-color: white;
  -webkit-text-size-adjust: 100%;
}

::selection {
  background: #e8e8e8;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
.highlight {
  margin-bottom: 22px;
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: 22.525px;
}

/**
 * Lists
 */
ul, ol {
  margin-left: 33px;
}

li > ul,
li > ol {
  margin-bottom: 0;
}

/**
 * Headings
 */
h1, h2, h3, h4 {
  margin-top: 36.3px;
  font-weight: 500;
}

h5, h6 {
  margin: 0;
  margin-top: 22px;
  line-height: 0.99;
}

h1, h2, h3, h4 {
  font-weight: bold;
}

h1 {
  font-size: 63.6px;
}

/**
 * Links
 */
a {
  color: #e64b3e;
  text-decoration: none;
}
a:visited {
  color: #bf2619;
}
a:hover {
  color: #333333;
}

.active {
  font-weight: bold;
}

/**
 * Blockquotes
 */
blockquote {
  color: #424242;
  border-left: 4px solid #828282;
  padding-left: 16.5px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;
}
blockquote > :last-child {
  margin-bottom: 0;
}

/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: scroll;
}
pre > code {
  border: 0;
  padding-right: 0;
  padding-left: 0;
}

/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(70% - (33px * 2));
  max-width: calc(70% - (33px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 33px;
  padding-left: 33px;
}
@media screen and (max-width: 800px) {
  .wrapper {
    max-width: -webkit-calc(70% - (33px));
    max-width: calc(70% - (33px));
    padding-right: 16.5px;
    padding-left: 16.5px;
  }
}

/**
 * Clearfix
 */
.wrapper:after {
  content: "";
  display: table;
  clear: both;
}

/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
.icon > svg path {
  fill: #828282;
}

/**
 * Site header
 */
.site-header {
  border-top: 5px solid #e64b3e;
  border-bottom: 1px solid #e8e8e8;
  min-height: 56px;
  position: relative;
}

.site-title {
  font-size: 26px;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
}
.site-title, .site-title:visited {
  color: #424242;
}

.site-nav {
  float: right;
  line-height: 56px;
}
.site-nav .menu-icon {
  display: none;
}
.site-nav .page-link {
  color: #333333;
  line-height: 1.5;
  font-family: DIN;
}
.site-nav .page-link:not(:first-child) {
  margin-left: 20px;
}
@media screen and (max-width: 600px) {
  .site-nav {
    position: absolute;
    top: 9px;
    right: 30px;
    background-color: white;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    text-align: right;
  }
  .site-nav .menu-icon {
    display: block;
    float: right;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding-top: 10px;
    text-align: center;
  }
  .site-nav .menu-icon > svg {
    width: 18px;
    height: 15px;
  }
  .site-nav .menu-icon > svg path {
    fill: #424242;
  }
  .site-nav .trigger {
    clear: both;
    display: none;
  }
  .site-nav:hover .trigger {
    display: block;
    padding-bottom: 5px;
  }
  .site-nav .page-link {
    display: block;
    padding: 5px 10px;
  }
}

/**
 * Site footer
 */
.site-footer {
  padding: 33px 0;
}
.site-footer p {
  text-align: center;
  color: #828282;
  font-family: Freight Text, Georgia, Cambria;
  font-size: 26.5px;
  font-style: italic;
}

/**
 * Page content
 */
.post {
  padding-top: 30px;
}

.post-title, .post-link {
  -webkit-animation: fadeInUp 200ms;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeInUp 200ms;
  /* Firefox < 16 */
  -ms-animation: fadeInUp 200ms;
  /* Internet Explorer */
  -o-animation: fadeInUp 200ms;
  /* Opera < 12.1 */
  animation: fadeInUp 200ms;
}

.post-meta {
  -webkit-animation: fadeInUpMeta 200ms;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeInUpMeta 200ms;
  /* Firefox < 16 */
  -ms-animation: fadeInUpMeta 200ms;
  /* Internet Explorer */
  -o-animation: fadeInUpMeta 200ms;
  /* Opera < 12.1 */
  animation: fadeInUpMeta 200ms;
}

.post-content {
  animation-delay: 300ms;
  -webkit-animation: fadeInUp 300ms;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeInUp 300ms;
  /* Firefox < 16 */
  -ms-animation: fadeInUp 300ms;
  /* Internet Explorer */
  -o-animation: fadeInUp 300ms;
  /* Opera < 12.1 */
  animation: fadeInUp 300ms;
}

footer {
  -webkit-animation: fadeIn 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeIn 2s;
  /* Firefox < 16 */
  -ms-animation: fadeIn 2s;
  /* Internet Explorer */
  -o-animation: fadeIn 2s;
  /* Opera < 12.1 */
  animation: fadeIn 2s;
  animation-delay: 4s;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  font-family: DIN !important;
  margin-left: 0;
  list-style: none;
}
.post-list h1 {
  margin: 0;
  margin-bottom: -20px;
}
.post-list > li {
  margin-bottom: 33px;
}

.post-meta {
  opacity: 0.5;
  margin-top: 25px;
  font-family: Freight Text, Georgia, Cambria;
  font-size: 22.525px;
  font-style: italic;
  color: #828282;
  transition: 300ms all ease;
}
.post-meta span {
  cursor: help;
}
.post-meta a {
  transition: 200ms all ease;
  text-transform: capitalize;
  font-weight: bold;
}
.post-meta:hover {
  opacity: 1;
}

.post-link {
  display: block;
  font-size: 28px;
  line-height: 0.99;
}
.post-link h1 {
  margin-bottom: 0;
}

/**
 * Posts
 */
.work {
  @-webkit-keyframes scaleUp {
    50% {
      width: 200px;
      -webkit-transform: scale(0, 0);
    }

    100% {
      width: 200px;
      -webkit-transform: scale(1, 1);
    }
}

  @-webkit-keyframes scaleDown {
    0% {
      width: 200px;
      -webkit-transform: scale(1, 1);
    }

    99% {
      width: 200px;
      -webkit-transform: scale(0, 0);
    }

    100% {
      width: 0px;
      -webkit-transform: scale(0, 0);
    }
}

  @keyframes scaleUp {
    50% {
      width: 200px;
      transform: scale(0, 0);
    }

    100% {
      width: 200px;
      transform: scale(1, 1);
    }
}

  @keyframes scaleDown {
    0% {
      width: 200px;
      transform: scale(1, 1);
    }

    99% {
      width: 200px;
      transform: scale(0, 0);
    }

    100% {
      width: 0px;
      transform: scale(0, 0);
    }
}

}
.work input.ff-selector-type-all:checked ~ label.ff-label-type-all,
.work input.ff-selector-type-1:checked ~ label.ff-label-type-1,
.work input.ff-selector-type-2:checked ~ label.ff-label-type-2,
.work input.ff-selector-type-3:checked ~ label.ff-label-type-3 {
  color: #333333;
  font-weight: bold;
}
.work input {
  display: none;
}
.work label {
  cursor: pointer;
  margin-right: 20px;
}
.work .ff-items {
  position: relative;
  margin: 0px auto;
  padding-top: 20px;
}
.work .ff-items a {
  width: 100%;
  height: 100%;
}
.work .ff-items a span {
  display: block;
  font-style: italic;
  color: #fff;
  font-weight: bold;
  padding: 20px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 120px;
  height: 0px;
  overflow: hidden;
  opacity: 0;
  text-align: center;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.work .ff-items li {
  margin: 10px;
  float: left;
  height: 200px;
  width: 200px;
  list-style-type: none;
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  transform: scale(0, 0);
}
.work .ff-items li h1 {
  opacity: 0;
  z-index: 4;
  color: white;
  font-family: DIN;
  position: absolute;
  margin-top: 30px;
  font-weight: 300;
  margin-left: 30px;
  font-size: 22.525px !important;
}
.work .ff-items li span {
  transition: 200ms all ease;
  float: left;
  height: 200px;
  width: 200px;
  padding: 0;
  margin: 0;
  margin-left: -10px;
  margin-bottom: -10px;
  position: absolute;
  opacity: 0;
  z-index: 3;
  background: #424242;
}
.work .ff-items li img {
  transition: 200ms all ease;
  position: absolute;
  float: left;
  display: inline-block;
}
.work .ff-items li:hover span {
  opacity: .9;
}
.work .ff-items li:hover h1 {
  opacity: 1;
}
.work input.ff-selector-type-all:checked ~ .ff-items li {
  width: 200px;
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: -webkit-transform 0.3s ease;
  -o-transition: -o-transform 0.3s ease;
  -ms-transition: -ms-transform 0.3s ease;
  transition: transform 0.3s ease;
}
.work input.ff-selector-type-1:checked ~ .ff-items .illustration,
.work input.ff-selector-type-2:checked ~ .ff-items .poster,
.work input.ff-selector-type-3:checked ~ .ff-items .ff-item-type-3 {
  -webkit-transition: -webkit-transform 0.3s ease, width 0s ease 0.3s;
  -moz-transition: -moz-transform 0.3s ease, width 0s ease 0.3s;
  -o-transition: -o-transform 0.3s ease, width 0s ease 0.3s;
  -ms-transition: -ms-transform 0.3s ease, width 0s ease 0.3s;
  transition: transform 0.3s ease, width 0s ease 0.3s;
  -webkit-animation: scaleUp 0.3s ease 0.4s forwards;
  -moz-animation: scaleUp 0.3s ease 0.4s forwards;
  -o-animation: scaleUp 0.3s ease 0.4s forwards;
  -ms-animation: scaleUp 0.3s ease 0.4s forwards;
  animation: scaleUp 0.3s ease 0.4s forwards;
}
.work input.ff-selector-type-1:checked ~ .ff-items li:not(.illustration),
.work input.ff-selector-type-2:checked ~ .ff-items li:not(.poster),
.work input.ff-selector-type-3:checked ~ .ff-items li:not(.ff-item-type-3) {
  -webkit-animation: scaleDown 0.3s ease forwards;
  -moz-animation: scaleDown 0.3s ease forwards;
  -o-animation: scaleDown 0.3s ease forwards;
  -ms-animation: scaleDown 0.3s ease forwards;
  animation: scaleDown 0.3s ease forwards;
}

.post-header {
  margin-bottom: 33px;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;
}
@media screen and (max-width: 800px) {
  .post-title {
    font-size: 36px;
  }
}

.reading-time {
  font-size: 21.39875px;
  font-family: DIN;
}

.post-content {
  margin-top: 50px;
  margin-bottom: 50px;
}
.post-content a {
  font-weight: bold;
}
.post-content p {
  letter-spacing: 0.01rem;
  font-family: Freight Text, Georgia, Cambria;
  font-size: 22.525px;
}
.post-content h2 {
  font-size: 34px;
}
@media screen and (max-width: 800px) {
  .post-content h2 {
    font-size: 28px;
  }
}
.post-content ul, .post-content ol {
  font-family: Freight Text, Georgia, Cambria;
  font-size: 22.525px;
}
.post-content h3 {
  font-size: 28px;
}
@media screen and (max-width: 800px) {
  .post-content h3 {
    font-size: 22px;
  }
}
.post-content h4 {
  font-size: 25px;
}
@media screen and (max-width: 800px) {
  .post-content h4 {
    font-size: 18px;
  }
}

/**
 * Syntax highlighting styles
 */
.highlight {
  background: #fff;
}
.highlight .c {
  color: #998;
  font-style: italic;
}
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}
.highlight .k {
  font-weight: bold;
}
.highlight .o {
  font-weight: bold;
}
.highlight .cm {
  color: #998;
  font-style: italic;
}
.highlight .cp {
  color: #999;
  font-weight: bold;
}
.highlight .c1 {
  color: #998;
  font-style: italic;
}
.highlight .cs {
  color: #999;
  font-weight: bold;
  font-style: italic;
}
.highlight .gd {
  color: #000;
  background-color: #ffdddd;
}
.highlight .gd .x {
  color: #000;
  background-color: #ffaaaa;
}
.highlight .ge {
  font-style: italic;
}
.highlight .gr {
  color: #aa0000;
}
.highlight .gh {
  color: #999999;
}
.highlight .gi {
  color: #000;
  background-color: #ddffdd;
}
.highlight .gi .x {
  color: #000;
  background-color: #aaffaa;
}
.highlight .go {
  color: #888888;
}
.highlight .gp {
  color: #555555;
}
.highlight .gs {
  font-weight: bold;
}
.highlight .gu {
  color: #aaaaaa;
}
.highlight .gt {
  color: #aa0000;
}
.highlight .kc {
  font-weight: bold;
}
.highlight .kd {
  font-weight: bold;
}
.highlight .kp {
  font-weight: bold;
}
.highlight .kr {
  font-weight: bold;
}
.highlight .kt {
  color: #458;
  font-weight: bold;
}
.highlight .m {
  color: #009999;
}
.highlight .s {
  color: #dd1144;
}
.highlight .na {
  color: teal;
}
.highlight .nb {
  color: #0086b3;
}
.highlight .nc {
  color: #458;
  font-weight: bold;
}
.highlight .no {
  color: teal;
}
.highlight .ni {
  color: purple;
}
.highlight .ne {
  color: #900;
  font-weight: bold;
}
.highlight .nf {
  color: #900;
  font-weight: bold;
}
.highlight .nn {
  color: #555555;
}
.highlight .nt {
  color: navy;
}
.highlight .nv {
  color: teal;
}
.highlight .ow {
  font-weight: bold;
}
.highlight .w {
  color: #bbbbbb;
}
.highlight .mf {
  color: #009999;
}
.highlight .mh {
  color: #009999;
}
.highlight .mi {
  color: #009999;
}
.highlight .mo {
  color: #009999;
}
.highlight .sb {
  color: #dd1144;
}
.highlight .sc {
  color: #dd1144;
}
.highlight .sd {
  color: #dd1144;
}
.highlight .s2 {
  color: #dd1144;
}
.highlight .se {
  color: #dd1144;
}
.highlight .sh {
  color: #dd1144;
}
.highlight .si {
  color: #dd1144;
}
.highlight .sx {
  color: #dd1144;
}
.highlight .sr {
  color: #009926;
}
.highlight .s1 {
  color: #dd1144;
}
.highlight .ss {
  color: #990073;
}
.highlight .bp {
  color: #999999;
}
.highlight .vc {
  color: teal;
}
.highlight .vg {
  color: teal;
}
.highlight .vi {
  color: teal;
}
.highlight .il {
  color: #009999;
}

.animated {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@-o-keyframes fadeInUp {
  0% {
    opacity: 0;
    -o-transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -o-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeInUpMeta {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
  }

  100% {
    opacity: 0.5;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes fadeInUpMeta {
  0% {
    opacity: 0;
    -moz-transform: translateY(20px);
  }

  100% {
    opacity: 0.5;
    -moz-transform: translateY(0);
  }
}

@-o-keyframes fadeInUpMeta {
  0% {
    opacity: 0;
    -o-transform: translateY(20px);
  }

  100% {
    opacity: 0.5;
    -o-transform: translateY(0);
  }
}

@keyframes fadeInUpMeta {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 0.5;
    transform: translateY(0);
  }
}

.fadeInUpMeta {
  -webkit-animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -o-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes fadeInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@-o-keyframes fadeInDown {
  0% {
    opacity: 0;
    -o-transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -o-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
