/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}


/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 400;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}
.large {
  font-size: 5rem;
  line-height: 5.5rem;
  letter-spacing: -.15rem;
}
.hidden {
  display: none;
}
::selection {
  background: $grey-color-light;
  opacity: .8;
}


/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $base-font-size;
}



/**
 * Lists
 */
li {
    list-style: none;
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1{
    font-weight: 600;
}
h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 2.6rem;
}


/**
 * Links
 */
a {
  transition: all ease .2s;
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
    }
}
article a, nav a, ul a {
  &:hover {
    color: darken($brand-color, 25%);
  }
}


/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
  font-family: $mono-font-family;
    padding: 5px;
    font-size: 15px;
    border-radius: 6px;
    background-color: $grey-color-light;
}

pre {
    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
    overflow-x: scroll;
}



/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
    @include media-query($on-palm) {
        width: $on-palm;
    }
}

.nav-wrapper {
    max-width: 78%;
    max-width: 78%;
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}


/**
 * Fluidbox
 */

 $transition-duration: .25s;
 $overlay-bg-color: rgba(255,255,255,.9);
 $animation-bg-color: $overlay-bg-color;

 // Animation
 @-webkit-keyframes fluidboxLoading {
   0%		{ -webkit-transform: translate(-50%, -50%) rotateX(0)		rotateY(0);			}
   50%		{ -webkit-transform: translate(-50%, -50%) rotateX(-180deg)	rotateY(0);			}
   100%	{ -webkit-transform: translate(-50%, -50%) rotateX(-180deg)	rotateY(-180deg);	}
 }
 @keyframes fluidboxLoading {
   0%		{ transform: translate(-50%, -50%) rotateX(0)		rotateY(0);			}
   50%		{ transform: translate(-50%, -50%) rotateX(-180deg)	rotateY(0);			}
   100%	{ transform: translate(-50%, -50%) rotateX(-180deg)	rotateY(-180deg);	}
 }

 // Rules
 .fluidbox {
   outline: none;
 }
 .fluidbox-overlay {
   background-color: $overlay-bg-color;
   cursor: pointer;
   cursor: -webkit-zoom-out;
   cursor: -moz-zoom-out;
   cursor: zoom-out;
   opacity: 0;
   position: fixed;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   /* Transition time for overlay is halved to ensure that flickering doesn't happen */
   transition: all $transition-duration/2 ease-in-out $transition-duration/2;
 }
 .fluidbox-wrap {
   background-position: center center;
   background-size: cover;
   margin: 0 auto;
   position: relative;
   transition: all $transition-duration ease-in-out;

   /* To prevent flickering, we delay the showing of the image */
   .fluidbox-closed & img { transition: opacity 0s ease-in-out $transition-duration; }
 }
 .fluidbox-ghost {
   background-size: 100% 100%;
   background-position: center center;
   position: absolute;
   -webkit-transition-property: opacity, -webkit-transform;
   -moz-transition-property: opacity, -moz-transform;
   -o-transition-property: opacity, -o-transform;
   transition-property: opacity, transform;
   transition-duration: 0s, $transition-duration;
   transition-delay: $transition-duration, 0s;

   .fluidbox-opened & { transition-delay: 0s, 0s; }
 }
 .fluidbox-loader {
   perspective: 200px;
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;

   &::before {
     -webkit-animation: fluidboxLoading 1s infinite;
     animation: fluidboxLoading 1s infinite;
     /* You can replace this with any color you want, or even a loading gif if desired */
     background-color: $animation-bg-color;
     content: '';
     transform-style: preserve-3d;
     transition: all $transition-duration ease-in-out;
     opacity: 0;
     position: absolute;
     top: 50%;
     left: 50%;
     width: 20%;
     padding-bottom: 20%;
     /* Delay disapparing of loader for graceful transition */
     transition-delay: $transition-duration/2;
   }
 }

 .fluidbox-loading .fluidbox-loader::before {
   opacity: 1;
   transition-delay: 0s;
 }

// Animate
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
            transform: translate3d(0, 50%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
            transform: translate3d(0, 50%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
