.title {
  width: 100%;
  .title-head {
    h1 {
      font-size: $base-font-size * 1.5;
      text-transform: uppercase;
      letter-spacing: .2rem;
      display: inline;
    }
    &:hover {
      span {
        opacity: 1;
      }
    }
    span {
      transition: all ease 0.5s;
      opacity: 0;
    }
  }
  p {
    animation-delay: .5s;
  }
}
.player {
  overflow: hidden;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  margin: auto;
  height: 260px;
  width: 49%;

  background: #edf0f2;
  border-radius: 10px;
}
.art {
  overflow: hidden;
  height: 130px;
  width: 100%;

  background: #DDD;
  background-image: url('');
  background-size: cover;
  background-position: center;
}
.info {
  height: 20%;
}
.info .title {
  height: 50%;
  width: 100%;

  font-size: 0.9em;
  color: #48586b;
  text-shadow: 0 1px #EFEFEF;
  padding: 0 10%;
  margin-top: 10px;
}
.info .song {
  height: 50%;
  display: block;
  font-size: 0.5em;
  color: #6a7888;
  padding: 0 10%;
}
.info .progress {
  user-select: none;
  cursor: pointer;
  clear: both;
  overflow: hidden;
  top: 0;
  height: 4px;
  width: 100%;
  background: #333;
}
.progress .progress-bar {
  height: 100%;
  width: 0%;

  background: $brand-color;
}
.controls {
  position: relative;
  margin: 20px 0 6.5% 0;
  padding: 0 10%;
}
.controls button {
  cursor: pointer;
  position: absolute;
  height: 27px;
  width: 27px;
  border: none;

  text-align: center;
  background: #414141;
  color: #d9d9d9;
  border-radius: 50%;
  font-size: 0.8em;
  transition: .1s;
  line-height: 1em;
  &:focus {
    outline: none;
  }
}
.controls button:hover {
  opacity: 0.95;
}
.controls button:active{
  opacity: 0.5;
}
.controls .play {
  height: 37px;
  width: 37px;

  font-size: 1.2em;
  line-height: 35px;
}
.controls .backward, .controls .forward {
  top: .7em;
  font-size: .5em;
  letter-spacing: .4em;
  line-height: .7em;
}
.controls .backward {
  left: 28%;
}
.controls .forward {
  left: 42%;
  letter-spacing: .3em;
  text-align: right;
}

.controls .settings {
  cursor: pointer;
  color: #CCC;
  float: right;
  margin-top: 5%;
}

.controls .settings:hover { color: #AAA; }
.sc-widget {
  display: none !important;
}
.wrapper {
  -webkit-animation: fadeInUp .4s;
  animation: fadeInUp .4s;
  margin-bottom: 50px;

  header {
    -webkit-animation: fadeInUp .3s;
    animation: fadeInUp .3s;
    margin-bottom: 40px;
    p {
      line-height: 1em;
      margin-top: 15px;
    }
    h4 {
      line-height: 1.1em;
      font-weight: 500;
    }
  }
  article {
    animation-delay: 1s;
    -webkit-animation: fadeInUp .4s;
    animation: fadeInUp .4s;
    margin-bottom: 80px;
    font-family: $base-font-family;
    font-size: 1.4rem;
    img {
	    display: block;
	    margin: auto;
    }
    .middle {
      font-weight: 600;
      font-size: 2rem;
      margin: auto;
      text-align: center;
      font-style: italic;
    }
    p {
      padding-top: 20px;
    }
    h3 {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    h2 {
      margin-top: 25px;
      margin-bottom: 10px;
    }
    h1 {
      font-size: 2.2em;
      line-height: 1em;
    }
    h2 {
      line-height: 1em;
	    font-size: 1.4em;
    }
    .success {
      color: #259b24;
    }
    .fail {
      color: #e44b23;
    }
    del {
      color: $grey-color;
    }
    ol li {
      list-style: inherit !important;
    }
  }
}

.gr_grid_container {
  width: 100% !important;
  margin: 0;
  padding: 0;
  line-height: 0;
  -webkit-column-count: 7;
  -webkit-column-gap:   0px;
  -moz-column-count:    7;
  -moz-column-gap:      0px;
  column-count:         7;
  column-gap:           0px;
}

.gr_grid_book_container {
  padding: 0;
  margin: 5px;
  overflow: hidden;
  width: 100% !important;
  height: auto !important;
  img {
    width: 100%;
    height: auto;
  }
  a {
    margin: 0 !important;
    padding: 0 !important;
  }
}

.title {
  height: 100px;
}

  .post-meta {
	  margin-top: 30px;
    margin-bottom: 0;
    color: $grey-color;
    span {
	text-transform: capitalize;
    }
  }

.pulse {
  color: #FF5252;
  -webkit-animation-name: 'pulse';
  -webkit-animation-duration: 1700ms;
  -webkit-transform-origin: 70% 70%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes pulse { 0% { -webkit-transform: scale(1); }
  30% { -webkit-transform: scale(1); }
  40% { -webkit-transform: scale(1.3); }
  50% { -webkit-transform: scale(1); }
  60% { -webkit-transform: scale(1); }
  70% { -webkit-transform: scale(1.3); }
  80% { -webkit-transform: scale(1); }
  100% { -webkit-transform: scale(1); } }
@keyframes pulse { 0% { transform: scale(1); }
  30% { transform: scale(1); }
  40% { transform: scale(1.3); }
  50% { transform: scale(1); }
  60% { transform: scale(1); }
  70% { transform: scale(1.3); }
  80% { transform: scale(1); }
  100% { transform: scale(1); } }
@-moz-keyframes pulse { 0% { -moz-transform: scale(1); }
  30% { -moz-transform: scale(1); }
  40% { -moz-transform: scale(1.3); }
  50% { -moz-transform: scale(1); }
  60% { -moz-transform: scale(1); }
  70% { -moz-transform: scale(1.3); }
  80% { -moz-transform: scale(1); }
  100% { -moz-transform: scale(1); } }
@-o-keyframes pulse { 0% { -o-transform: scale(1); }
  30% { -o-transform: scale(1); }
  40% { -o-transform: scale(1.3); }
  50% { -o-transform: scale(1); }
  60% { -o-transform: scale(1); }
  70% { -o-transform: scale(1.3); }
  80% { -o-transform: scale(1); }
  100% { -o-transform: scale(1); } }

.home .post-meta {
	transition: all ease .4s;
	opacity: 0 !important;
}
.home #list li:hover {
	.post-meta {
		opacity: 1 !important;
	}
}
.code p {
	padding-top: 10px !important;
}
.code .post-meta {
	padding-top: 20px;
}
.post {
  margin-bottom: 40px;

  header h3 {
    line-height: 1.2em;
    font-size: 1em;
  }
}
.loader {
  margin: 6em auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
 #list li:hover {
	 .post-meta {
		 opacity: 1;
	 }
 }border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid $brand-color;
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 7em;
  height: 7em;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#particles {
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
  height: 420px;
  width: 100%;
  z-index: -1;
  position: absolute;
  top: 0;
}
input[type="text"] {
  border: none;
  outline: none;
  font-size: $base-font-size;
  background: none;
  font-family: $base-font-family;
  border-bottom: 2px solid $grey-color-light;
  transition: all ease .25s;
  opacity: .8;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
  &:focus {
    opacity: 1;
    border-bottom: 2px solid $grey-color;
  }
}
#code p {
  line-height: 1.2em;
}
.codeweb {
  float: right;
  font-size: .7em;
  svg {
    fill: $brand-color;
    transition: .2s all ease;
    &:hover {
      fill: darken($brand-color, 25%);
    }
  }
}
#list {
  -webkit-animation: fadeInUp .4s;
  animation: fadeInUp .4s;
  .post-meta {
    &:first-letter {
      text-transform: capitalize;
    }
    font-size: $smaller-font-size;
  }
  p {
    opacity: .8;
    font-size: 0.9em;
    margin-top: 0px;
  }
  h2 {
    font-size: 1.4em;
    line-height: 1.2em;
    margin-top: 0px;
  }
  h2.name {
    margin-bottom: -5px !important;
  }
  li {
    padding-top: 15px;
    padding-bottom: 10px;
    list-style-type: none;
  }
}
#code #list h2 {
  margin-bottom: 5px;
}

// Pixels
.pixels {
  margin-top: -40px;
  animation-delay: 1s;
  -webkit-animation: fadeInUp .4s;
  animation: fadeInUp .4s;
  z-index: -2;
  li {
    z-index: -2;
    width: calc(100%/7);
    height: auto;
    float: left;
  list-style-type: none;
    transition: all ease .4s;
    img {
      z-index: -2;
      width: 100%;
      height: auto;
      -webkit-filter: grayscale(0.4);
    }
    &:hover img {
      -webkit-filter: grayscale(0);
    }
  }
}

.small {
  width: 50%;
}

#photos li {
  width: calc(100%/10);
}

footer {
  padding-bottom: 70px;
  font-size: $base-font-size * 1.1;
  text-align: center;
}

.language span[data-color="JavaScript"] {
  color: darken(#f1e05a, 30%) !important;
}
.nav-hide {
  transition: all ease .15s;
  top: -60px;
}

@mixin navToggle($left, $top) {
  position: fixed;
  width: 30px;
  height: 60px;
  top: $top;
  left: 73%;
  z-index: 9;
  transition-duration: 0.2s;
}

@mixin icon($height, $width) {
  transition-duration: 0.2s;
  position: absolute;
  height: $height;
  top: 25px;
  width: $width;
  border-radius: 5px;
  background-color: $grey-color;
}

@mixin icon-before($height, $width) {
  transition-duration: 0.2s;
  position: absolute;
  width: $width;
  height: $height;
  background-color: $grey-color;
  content: "";
  top: -10px;
  border-radius: 5px;
}

@mixin icon-after($height, $width) {
  transition-duration: 0.2s;
  position: absolute;
  width: $width;
  height: $height;
  background-color: $grey-color;
  content: "";
  top: 10px;
  border-radius: 5px;
}

nav {
  z-index: 7;
  width: 100%;
  max-height: 60px;
  background-color: rgba(253,253,253,0.94);
  top: 0;
  transition-duration: 0.3s;
  transition-timing-function: swing;
  position: fixed;
  overflow: hidden;
  z-index: 10;
  &.open{
    max-height: 700px;
    transition: max-height 0.2s ease-in;
    z-index: 10;
  }
  .nav-title {
    margin-left: 80px;
    margin-top: 7px;
    font-weight: 500;
    font-size: 1.9rem;
    color: white;
    float: left;
    margin-left: 25%;
    color: $grey-color;
  }
  ul {
    z-index: 10;
    padding-top: 60px;
    margin-bottom: 0;
    li{
      list-style: none;
      transition: all 0.2s;
      border-top: 1px solid $grey-color-light;
      a {
        padding: 0.15em 0.5em 0.15em 0.5em;
        display: inline-block;
        text-decoration: none;
        font-size: 1.1em;
        width: 100%;
        font-weight: 500;
        height: 100%;
        color: $text-color;
        padding-left: 25%;
      }
      &:hover {
        color: $grey-color-dark;
        background: $grey-color-light;
      }
      .active {
        font-weight: 700;
      }
    }
  }
}
#bg-blur {
  background: rgba(0,0,0,.6);
  z-index: 7;
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  cursor: pointer;
}

.navToggle{
  @include navToggle(25px, 3px);
  &:hover{
    cursor: pointer;
  }
  .icon-left {
    @include icon(4px, 18px);
    &:before{
      @include icon-before(4px, 18px);
    }
    &:after{
      @include icon-after(4px, 18px);
    }
  }
  .icon-right {
    @include icon(4px, 18px);
    left: 15px;
    &:before{
      @include icon-before(4px, 18px);
    }
    &:after{
      @include icon-after(4px, 18px);
    }
  }
  &.open {
    .icon-left {
      transition-duration: 0.2s;
      background: transparent;
      &:before{
        transform: rotateZ(45deg) scaleX(1.4) translate(2px, 2px);
        -webkit-transform: rotateZ(45deg) scaleX(1.4) translate(2px, 2px);
        -o-transform: rotateZ(45deg) scaleX(1.4) translate(2px, 2px);
        -ms-transform: rotateZ(45deg) scaleX(1.4) translate(2px, 2px);
        -moz-transform: rotateZ(45deg) scaleX(1.4) translate(2px, 2px);
      }
      &:after{
        transform: rotateZ(-45deg) scaleX(1.4) translate(2px, -2px);
        -webkit-transform: rotateZ(-45deg) scaleX(1.4) translate(2px, -2px);
        -o-transform: rotateZ(-45deg) scaleX(1.4) translate(2px, -2px);
        -ms-transform: rotateZ(-45deg) scaleX(1.4) translate(2px, -2px);
        -moz-transform: rotateZ(-45deg) scaleX(1.4) translate(2px, -2px);
      }
    }
    .icon-right {
      transition-duration: 0.2s;
      background: transparent;
      &:before{
        transform: rotateZ(-45deg) scaleX(1.4) translate(-2px, 2px);
        -webkit-transform: rotateZ(-45deg) scaleX(1.4) translate(-2px, 2px);
        -o-transform: rotateZ(-45deg) scaleX(1.4) translate(-2px, 2px);
        -ms-transform: rotateZ(-45deg) scaleX(1.4) translate(-2px, 2px);
        -moz-transform: rotateZ(-45deg) scaleX(1.4) translate(-2px, 2px);
      }
      &:after{
        transform: rotateZ(45deg) scaleX(1.4) translate(-2px, -2px);
        -webkit-transform: rotateZ(45deg) scaleX(1.4) translate(-2px, -2px);
        -o-transform: rotateZ(45deg) scaleX(1.4) translate(-2px, -2px);
        -ms-transform: rotateZ(45deg) scaleX(1.4) translate(-2px, -2px);
        -moz-transform: rotateZ(45deg) scaleX(1.4) translate(-2px, -2px);
      }
    }
  }
}

// Media Queries
@media screen and (max-width: 1150px) {

  header h3 {
	  margin-top: 0;
  }
  .home {
    header {
      h2 {
        margin-top: 5px;
        line-height: 1em;
        font-size: 1em;
      }
    }
  }
  .post {
	 article h1 {
		font-size: 2em !important;

	  }
    .post-meta {
      font-size: 0.8em;
    }
  }
  .large {
	  font-size: 2em !important;
	  line-height: 1.2em !important;
	  padding-bottom: 5px;
  }
  .gr_grid_container {
    width: 100% !important;
    margin: 0;
    padding: 0;
    line-height: 0;
    -webkit-column-count: 7;
    -webkit-column-gap:   10px;
    -moz-column-count:    7;
    -moz-column-gap:      10px;
    column-count:         7;
    column-gap:           10px;
  }
  .light {
    -webkit-column-count: 4;
    -webkit-column-gap:   10px;
    -moz-column-count:    5;
    -moz-column-gap:      10px;
    column-count:         5;
    column-gap:           10px;
  }
  .pixels li {
    width: calc(100%/5);
  }
  #photos {
    margin-top: -60px;
  }
  #photos li {
    width: calc(100%/7);
  }
  .title {
    height: 100px;
    h1 {
      span {
        display: none;
      }
    }
  }
  .nav-wrapper {
    max-width: 96%;
  }
  .wrapper {
    max-width: 96%;
  }
  .nav-title {
    margin-left: 8% !important;
  }
  .navToggle {
    left: 85% !important;
  }
  nav ul li a {
    padding-left: 8%;
    font-size: 0.95em;
  }
}
@media screen and (max-width: 650px) {
  .small {
    width: 100%;
  }
  .gr_grid_container {
    width: 100% !important;
    margin: 0;
    padding: 0;
    line-height: 0;
    -webkit-column-count: 4;
    -webkit-column-gap:   10px;
    -moz-column-count:    4;
    -moz-column-gap:      10px;
    column-count:         4;
    column-gap:           10px;
  }
  .home h3 {
    display: none;
  }
  input[type="text"] {
    font-size: 0.8em;
  }
  .album {
    img {
      width: 100%;
      margin-top: 5px;
      margin-bottom: 5px;
    }
    .col-2 {
      width: -webkit-calc(50% - 5px);
      width: -moz-calc(50% - 5px);
      width: calc(50% - 5px);
      float: left;
    }
    .first {
      margin-right: 5px;
    }
    .second {
      margin-left: 5px;
    }
  }
  .light {
    -webkit-column-count: 2;
    -webkit-column-gap:   10px;
    -moz-column-count:    5;
    -moz-column-gap:      10px;
    column-count:         5;
    column-gap:           10px;
  }
  #list {
    h2 {
      margin-bottom: 0px;
      margin-top: 0px;
    }
    p {
      font-size: 1.3rem;
    }
  }
  .large {
    padding-top: 10px;
    font-size: 2.5em;
    line-height: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  .pixels li {
    width: calc(100%/2);
  }

  #photos li {
    width: calc(100%/5);
  }
  #particles {
    height: 300px;
  }
  .title {
    height: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    h1 {
      font-size: $base-font-size !important;
    }
    p {
      display: none;
    }
    nav ul li {
      font-size: 18px;
      margin-left: 8px;
    }
  }
  article, .faves {
    p, a, blockquote, ul li {
      font-size: 0.9em !important;
    }
  }
}
