.title {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 10px;
  .title-head {
    -webkit-animation: fadeInUp 1s;
    animation: fadeInUp 1s;
    h1 {
      font-size: $base-font-size * 1.5;
      text-transform: uppercase;
      letter-spacing: .2rem;
      display: inline;
    }
    &:hover {
      span {
        opacity: 1;
      }
    }
    span {
      transition: all ease 0.5s;
      opacity: 0;
    }
  }
  p {
    animation-delay: .5s;
    -webkit-animation: fadeInUp .5s;
    animation: fadeInUp .5s;
  }
  .about {
    -webkit-animation: fadeInUp 1s;
    animation: fadeInUp 1s;
    margin-top: 10px;
  }
  nav {
    -webkit-animation: fadeInUp 1s;
    animation: fadeInUp 1s;
    ul {
      li {
        float: right;
        margin-left: 15px;
      }
      .active {
        font-weight: 600;
      }
    }
  }
}

.wrapper {
  header {
    -webkit-animation: fadeInUp .3s;
    animation: fadeInUp .3s;
    margin-bottom: 80px;
  }
  article {
    animation-delay: 1s;
    -webkit-animation: fadeInUp .4s;
    animation: fadeInUp .4s;
    margin-bottom: 80px;
    font-family: $base-font-family;
    font-size: 1.4rem;
    p {
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
    }
    b {
      font-weight: 400 !important;
    }
  }
}

.faves {
  animation-delay: 1s;
  -webkit-animation: fadeInUp .4s;
  animation: fadeInUp .4s;
  h1, h2, h3, h4, h5 {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  ul li:before {
    content: '– ';
    margin-left: -10px;
    color: $brand-color;
  }
}

.title {
  height: 150px;
}

.post {
  margin-bottom: 40px;
}

#particles {
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
  height: 420px;
  width: 100%;
  z-index: -1;
  position: absolute;
  top: 0;
}

#list {
  -webkit-animation: fadeInUp .4s;
  animation: fadeInUp .4s;
  .post-meta {
    &:first-letter {
      text-transform: capitalize;
    }
    font-size: $smaller-font-size;
  }
  p {
    opacity: .8;
  }
  .post-meta {
    opacity: .55;
  }
  h2 {
    margin-top: -10px;
    margin-bottom: -5px;
  }
  li {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

// Pixels
.pixels {
  animation-delay: 1s;
  -webkit-animation: fadeInUp .4s;
  animation: fadeInUp .4s;
  li {
    width: calc(100%/7);
    height: auto;
    float: left;
    transition: all ease .4s;
    img {
      width: 100%;
      height: auto;
      -webkit-filter: grayscale(0.4);
    }
    &:hover img {
      -webkit-filter: grayscale(0);
    }
  }
}

// Light
.light {
  animation-delay: 1s;
  -webkit-animation: fadeInUp .4s;
  animation: fadeInUp .4s;
  line-height: 0;
   -webkit-column-count: 4;
   -webkit-column-gap:   0px;
   -moz-column-count:    5;
   -moz-column-gap:      0px;
   column-count:         5;
   column-gap:           0px;
   a {
     color: white;
     &:hover {
       color: white;
     }
     &:visited {
       color: white;
     }
   }
   h3 {
     transition: all ease .5s;
     bottom: 0;
     margin-bottom: 50px;
     margin-left: 30px;
     z-index: 3;
     position: absolute;
     float: left;
     opacity: 0;
   }
   img {
     transition: all ease .3s;
     width: 100%;
     height: 100%;
   }
   a:hover h3 {
     opacity: 1;
   }
   a:hover img {
     -webkit-filter: grayscale(.8) brightness(0.5);
   }
}
.album {
  img {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .col-2 {
    width: -webkit-calc(50% - 10px);
    width: -moz-calc(50% - 10px);
    width: calc(50% - 10px);
    float: left;
  }
  .first {
    margin-right: 10px;
  }
  .second {
    margin-left: 10px;
  }
}

main {
  padding-top: 20px;
  padding-bottom: 80px;
  a {
    font-weight: 600;
  }
}

footer {
  padding-bottom: 70px;
  font-style: italic;
  font-size: $base-font-size * 1.2;
  text-align: center;
}

// Media Queries
@media screen and (max-width: 1100px) {
  .pixels li {
    width: calc(100%/5);
  }
  .title {
    height: auto;
    h1 {
      span {
        display: none;
      }
    }
  }
  .nav-wrapper {
    max-width: 95%;
  }
  .wrapper {
    max-width: 90%;
  }
}
@media screen and (max-width: 700px) {
  nav {
    li:nth-child(3){
      clear:right;
    }
  }
  .large {
    font-size: 3rem;
  }
  h1 {

  }
  h2 {
    font-size: 2rem;
  }
  .pixels li {
    width: calc(100%/3);
  }
  #particles {
    height: 200px;
  }
  .title {
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    h1 {
      font-size: $base-font-size !important;
    }
    p {
      display: none;
    }
    nav ul li {
      font-size: 18px;
      margin-left: 8px;
    }
  }
}
