.title {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 10px;
  .title-head {
    h1 {
      font-size: $base-font-size * 1.5;
      text-transform: uppercase;
      letter-spacing: .2rem;
      display: inline;
    }
    &:hover {
      span {
        opacity: 1;
      }
    }
    span {
      transition: all ease 0.5s;
      opacity: 0;
    }
  }
  p {
    animation-delay: .5s;
  }
  .about {
    margin-top: 10px;
  }
}

.wrapper {
  -webkit-animation: fadeInUp .4s;
  animation: fadeInUp .4s;
  margin-bottom: 80px;
  header {
    -webkit-animation: fadeInUp .3s;
    animation: fadeInUp .3s;
    margin-bottom: 80px;
  }
  article {
    animation-delay: 1s;
    -webkit-animation: fadeInUp .4s;
    animation: fadeInUp .4s;
    margin-bottom: 80px;
    font-family: $base-font-family;
    font-size: 1.4rem;
    p {
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
    }
    b {
      font-weight: 600 !important;
    }
    .success {
      color: #259b24;
    }
    del {
      color: $grey-color;
    }
  }
}

.faves {
  animation-delay: 1s;
  -webkit-animation: fadeInUp .4s;
  animation: fadeInUp .4s;
  h1, h2, h3, h4, h5 {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  ul li:before {
    content: '– ';
    margin-left: -10px;
    color: $brand-color;
  }
}

.title {
  height: 180px;
}

.post {
  margin-bottom: 40px;
}

#particles {
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
  height: 420px;
  width: 100%;
  z-index: -1;
  position: absolute;
  top: 0;
}
input[type="text"] {
  border: none;
  outline: none;
  font-size: $base-font-size;
  background: none;
  font-family: $base-font-family;
  border-bottom: 2px solid $grey-color-light;
  transition: all ease .25s;
  opacity: .8;
  width: 100%;
  margin-bottom: 40px;
  &:focus {
    opacity: 1;
    border-bottom: 2px solid $grey-color;
  }
}
#list {
  -webkit-animation: fadeInUp .4s;
  animation: fadeInUp .4s;
  .post-meta {
    &:first-letter {
      text-transform: capitalize;
    }
    font-size: $smaller-font-size;
  }
  p {
    opacity: .8;
  }
  .post-meta {
    opacity: .55;
  }
  h2 {
    margin-top: -2px;
    margin-bottom: -5px;
  }
  li {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

// Pixels
.pixels {
  animation-delay: 1s;
  -webkit-animation: fadeInUp .4s;
  animation: fadeInUp .4s;
  li {
    width: calc(100%/7);
    height: auto;
    float: left;
    transition: all ease .4s;
    img {
      width: 100%;
      height: auto;
      -webkit-filter: grayscale(0.4);
    }
    &:hover img {
      -webkit-filter: grayscale(0);
    }
  }
}

footer {
  padding-bottom: 70px;
  font-style: italic;
  font-size: $base-font-size * 1.2;
  text-align: center;
}


.nav-hide {
  transition: all ease .15s;
  top: -60px;
}

@mixin navToggle($left, $top) {
  position: absolute;
  width: 30px;
  height: 60px;
  top: $top;
  left: $left;
  transition-duration: 0.2s;
}

@mixin icon($height, $width) {
  transition-duration: 0.2s;
  position: absolute;
  height: $height;
  top: 25px;
  width: $width;
  background-color: $grey-color;
}

@mixin icon-before($height, $width) {
  transition-duration: 0.2s;
  position: absolute;
  width: $width;
  height: $height;
  background-color: $grey-color;
  content: "";
  top: -10px;
}

@mixin icon-after($height, $width) {
  transition-duration: 0.2s;
  position: absolute;
  width: $width;
  height: $height;
  background-color: $grey-color;
  content: "";
  top: 10px;
}


nav{
  z-index: 7;
  width: 100%;
  max-height: 60px;
  background-color: rgba(255,255,255,0.8);
  top: 0;
  transition-duration: 0.3s;
  transition-timing-function: swing;
  position: fixed;
  overflow: hidden;
  &.open{
    max-height: 700px;
    transition: max-height 0.1s ease-in;
  }
  .nav-title {
    margin-left: 80px;
    margin-top: 14px;
    font-weight: 300;
    font-size: 1.3rem;
    color: white;
    float: left;
    color: $grey-color;
  }
  ul {
    padding-top: 60px;
    margin-bottom: 0;
    li{
      list-style: none;
      transition: all 0.2s;
      a{
        padding: 1em 2em 1em 1.5em;
        display: inline-block;
        text-decoration: none;
        font-size: 1.15em;
        width: 100%;
        height: 100%;
        color: $grey-color !important;
      }
      &:hover {
        background: $grey-color-dark;
      }
    }
  }
}

.navWrapper {
  margin-left: 20%;
}
.navToggle{
  margin-left: 20%;
  @include navToggle(25px, 3px);
  &:hover{
    cursor: pointer;
  }
  .icon-left {
    @include icon(4px, 15px);
    &:before{
      @include icon-before(4px, 15px);
    }
    &:after{
      @include icon-after(4px, 15px);
    }
  }
  .icon-right {
    @include icon(4px, 15px);
    left: 15px;
    &:before{
      @include icon-before(4px, 15px);
    }
    &:after{
      @include icon-after(4px, 15px);
    }
  }
  &.open {
    .icon-left {
      transition-duration: 0.2s;
      background: transparent;
      &:before{
        transform: rotateZ(45deg) scaleX(1.4) translate(2px, 2px);
        -webkit-transform: rotateZ(45deg) scaleX(1.4) translate(2px, 2px);
        -o-transform: rotateZ(45deg) scaleX(1.4) translate(2px, 2px);
        -ms-transform: rotateZ(45deg) scaleX(1.4) translate(2px, 2px);
        -moz-transform: rotateZ(45deg) scaleX(1.4) translate(2px, 2px);
      }
      &:after{
        transform: rotateZ(-45deg) scaleX(1.4) translate(2px, -2px);
        -webkit-transform: rotateZ(-45deg) scaleX(1.4) translate(2px, -2px);
        -o-transform: rotateZ(-45deg) scaleX(1.4) translate(2px, -2px);
        -ms-transform: rotateZ(-45deg) scaleX(1.4) translate(2px, -2px);
        -moz-transform: rotateZ(-45deg) scaleX(1.4) translate(2px, -2px);
      }
    }
    .icon-right {
      transition-duration: 0.2s;
      background: transparent;
      &:before{
        transform: rotateZ(-45deg) scaleX(1.4) translate(-2px, 2px);
        -webkit-transform: rotateZ(-45deg) scaleX(1.4) translate(-2px, 2px);
        -o-transform: rotateZ(-45deg) scaleX(1.4) translate(-2px, 2px);
        -ms-transform: rotateZ(-45deg) scaleX(1.4) translate(-2px, 2px);
        -moz-transform: rotateZ(-45deg) scaleX(1.4) translate(-2px, 2px);
      }
      &:after{
        transform: rotateZ(45deg) scaleX(1.4) translate(-2px, -2px);
        -webkit-transform: rotateZ(45deg) scaleX(1.4) translate(-2px, -2px);
        -o-transform: rotateZ(45deg) scaleX(1.4) translate(-2px, -2px);
        -ms-transform: rotateZ(45deg) scaleX(1.4) translate(-2px, -2px);
        -moz-transform: rotateZ(45deg) scaleX(1.4) translate(-2px, -2px);
      }
    }
  }
}

// Media Queries
@media screen and (max-width: 1150px) {
  .light {
    -webkit-column-count: 4;
    -webkit-column-gap:   0px;
    -moz-column-count:    5;
    -moz-column-gap:      0px;
    column-count:         5;
    column-gap:           0px;
  }
  .pixels li {
    width: calc(100%/5);
  }
  .title {
    height: auto;
    h1 {
      span {
        display: none;
      }
    }
  }
  .nav-wrapper {
    max-width: 98%;
  }
  .wrapper {
    max-width: 98%;
  }
}
@media screen and (max-width: 650px) {
  .home h3 {
    display: none;
  }
  .album {
    img {
      width: 100%;
      margin-top: 5px;
      margin-bottom: 5px;
    }
    .col-2 {
      width: -webkit-calc(50% - 5px);
      width: -moz-calc(50% - 5px);
      width: calc(50% - 5px);
      float: left;
    }
    .first {
      margin-right: 5px;
    }
    .second {
      margin-left: 5px;
    }
  }
  .light {
    -webkit-column-count: 2;
    -webkit-column-gap:   0px;
    -moz-column-count:    5;
    -moz-column-gap:      0px;
    column-count:         5;
    column-gap:           0px;
  }
  #list {
    h2 {
      margin-bottom: 0px;
      margin-top: 5px;
    }
    p {
      font-size: 1.3rem;
    }
  }
  .large {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  .pixels li {
    width: calc(100%/2);
  }
  #particles {
    height: 300px;
  }
  .title {
    height: auto;
    padding-top: 30px;
    padding-bottom: 60px;
    h1 {
      font-size: $base-font-size !important;
    }
    p {
      display: none;
    }
    nav ul li {
      font-size: 18px;
      margin-left: 8px;
    }
  }
}
