---
title: 'Words'
permalink: /words/
description: "Thoughts, ideas, opinions."
id: words
---

<div id="{{page.id}}">
  <input class="search" placeholder="Search" />
  <button class="sort" data-sort="name">
    Sort by name
  </button>
  <ul class="list" id="{{page.id}}list">
  {% if site.posts %}
    {% for post in site.posts %}
    <li>
      <a href="{{ post.url }}" title="{{post.title}}">
        <h1 class="name">{{ post.title }}</h1>
        <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_xmlschema }}</time>
      </a>
    </li>
    {% endfor %}
  {% endif %}
  </ul>
</div>
