---
title: Words
permalink: /words/
id: words
---

<div id="{{page.id}}">
  <input class="search" placeholder="Search" />
  <button class="sort" data-sort="name">
    Sort by name
  </button>
  <ul class="list" id="wordslist">
    {% if site.posts %}
    {% for post in site.posts %}
    <li class="col col-1-1">
      <a href="{{ post.url }}" title="{{post.title}}">
        <h1 class="name">{{ post.title }}</h1>
      </a>
      <time class="date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_xmlschema }}</time>
    </li>
    {% endfor %}
    {% endif %}
  </ul>
</div>
