---
layout: default
permalink: /404.html
---

<div class="home wrapper">
  <header>
    <h1 class="large">FOUR04</h1>
    <h3>You've reached a broken link. Below is a list of my blog posts.</h3>
  </header>
  <ul id="list">
    {% for post in site.posts %}
    {% if post.type == "notes" %}
    <li class="{{ post.type }}">
      <p class="post-meta"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_xmlschema }}</time> • {% include read_time.html %}</p>
      <h2>
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h2>
      <p>{{ post.subtitle }}</p>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>
