---
layout: default
is_page: true
---

<div class="home wrapper">
  <header>
    <h1 class="large"><span id="greeting">Hi</span>.</h1>
    <h2 style="font-weight: 500;">I'm Josh, an <i>insatiable learner</i>.</h2>
    <p id="me_wrapper">I'm <span id="me">a developer</span>.</p>
    <p><a href="http://github.com/raichur">GitHub</a> • <a href="http://twitter.com/JoshuaRaichur">Twitter</a> • <a href="mailto:hello@joshuaraichur.com">Email</a></p>
  </header>
    <div id="post_list">

      <input class="search" placeholder="Search post title or tag" type="text"/>
      <ul id="list" class="list">
        {% for post in site.posts %}
        {% if post.type == "notes" %}
        <li>
    	    <p class="post-meta"><time class="date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_xmlschema }}</time> • <span class="post_read_time">{% include read_time.html %}</span> • <span class="tags capitalize">{{ post.tags | join: ', ' }}</span></p>
          <a href="{{ post.url | prepend: site.baseurl }}">
            <h2 class="post_title">{{ post.title }}</h2>
          </a>
          <p class="post_sub">{{ post.subtitle }}</p>
        </li>
        {% endif %}
        {% endfor %}
      </ul>

    </div>
</div>
