<section class="header">
  <header>
    <h1>Hi, I'm Josh.</h1>
    <h3>I'm a passionately curious designer, developer, and insatiable learner.
    </br>
    I love making things.
    </h3>
    <p>Currently, I live in Bangalore, India with my family.</p>
    <p>Say hi on <a href="http://twitter.com/JoshuaRaichur" class="social">Twitter</a> or <a href="mailto:hello@joshuaraichur.com">email</a>.</p>
    <p>Catch up with what I'm creating <a href="http://github.com/raichur" class="social">GitHub</a>, <a href="http://dribbble.com/geek" class="social">Dribbble</a>, and <a href="http://instagram.com/xpl.ore" class="social">Instagram</a>.</p>
  </header>
</section>
