<section class="header">
  <h1 class="large">Hi, I'm Josh.</h1>
  <div class="head-para">
    <h2>I'm a passionately curious designer, developer, and insatiable learner.
    </br>
    I love making things.
    </h2>
    <h3>Currently, I live in Bangalore, India with my family.</h3>
    <h3>Say hi on <a href="http://twitter.com/JoshuaRaichur" class="social">Twitter</a> or <a href="mailto:hello@joshuaraichur.com">email</a>.</h3>
    <h3>Catch up with what I'm creating <a href="http://github.com/raichur" class="social">GitHub</a>, <a href="http://dribbble.com/geek" class="social">Dribbble</a>, and <a href="http://instagram.com/xpl.ore" class="social">Instagram</a>.</h3>
  </div>
</section>
