<div id="bg-blur"></div>
<header class="title">
  <div id="particles"></div>
</header>

<nav>
  <div class="nav-title"><a href="/"><b>Josh</b>ua Raichur</a></div>
  <div class="navToggle">
    <div class="icon-left"></div>
    <div class="icon-right"></div>
  </div>
  <ul>
    <li><a href="/code/"{% if page.url contains 'code' %} id="active"{% endif %} class="nav_item">Code</a></li>
    <li><a href="/pixels/"{% if page.url contains 'pixels' %} id="active"{% endif %} class="nav_item">Pixels</a></li>
    <li><a href="/photos/"{% if page.url contains 'photos' %} id="active"{% endif %} class="nav_item">Photos</a></li>
    <li><a href="/favorites/"{% if page.url contains 'favorites' %} id="active"{% endif %} class="nav_item">Favorites</a></li>
    <li><a href="/sketch/"{% if page.url contains 'sketch' %} id="active"{% endif %} class="nav_item">Sketches</a></li>
    <li><a href="/sounds/"{% if page.url contains 'sounds' %} id="active"{% endif %} class="nav_item">Sounds</a></li>
  </ul>
</nav>
