<div id="bg-blur"></div>
<header class="title">
  <div id="particles"></div>
</header>

<nav>
  <div class="nav-title"><a href="/"><b>Josh</b>ua Raichur</a></div>
  <div class="navToggle">
    <div class="icon-left"></div>
    <div class="icon-right"></div>
  </div>
  <ul>
    <li><a href="/code/"{% if page.url contains 'code' %} class="active"{% endif %}>Code</a></li>
    <li><a href="/pixels/"{% if page.url contains 'pixels' %} class="active"{% endif %}>Pixels</a></li>
    <li><a href="/photos/"{% if page.url contains 'photos' %} class="active"{% endif %}>Photos</a></li>
    <li><a href="/favorites/"{% if page.url contains 'favorites' %} class="active"{% endif %}>Favorites</a></li>
    <li><a href="/sketch/"{% if page.url contains 'sketch' %} class="active"{% endif %}>Sketches</a></li>
    <li><a href="/sounds/"{% if page.url contains 'sounds' %} class="active"{% endif %}>Sounds</a></li>
    <li><a href="http://365.joshuaraichur.com">365 Photo Project</a></li>
  </ul>
</nav>
