<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width initial-scale=1">

  <title>{% if page.title %}{{ page.title }} • {% endif %}{{ site.title }}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="language" content="en" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <link rel="apple-touch-icon" sizes="57x57" href="/resources/img/touch-icon-57.png"/>
  <link rel="apple-touch-icon" sizes="72x72" href="/resources/img/touch-icon-72.png"/>
  <link rel="apple-touch-icon" sizes="76x76" href="/resources/img/touch-icon-76.png"/>
  <link rel="apple-touch-icon" sizes="114x114" href="/resources/img/touch-icon-114.png"/>
  <link rel="apple-touch-icon" sizes="120x120" href="/resources/img/touch-icon-120.png"/>
  <link rel="apple-touch-icon" sizes="144x144" href="/resources/img/touch-icon-144.png"/>
  <link rel="apple-touch-icon" sizes="152x152" href="/resources/img/touch-icon-152.png"/>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1" />
  <meta name="keywords" content="Joshua, Raichur, student, geek, web developer, ios developer, Bangalore, India" />
  <meta name="theme-color" content="#171D25" />
  <link href="//google.com/+{{ site.googleplus_username }}" rel="author" />
  <link rel="shortcut icon" type="image/png" href="/resources/img/favicon.png">

  <script src="/js/before.js"></script>
</head>
