<div id="bg-blur"></div>
<header class="title">
  <div id="particles"></div>
</header>

<nav>
  <div class="nav-title"><a href="/"><b>Josh</b>ua Raichur</a></div>
  <div class="navToggle">
    <div class="icon-left"></div>
    <div class="icon-right"></div>
  </div>
  <ul>
    <li><a href="/notes/"{% if page.url contains 'notes' %} class="active"{% endif %}{% if page.type == 'notes' %} class="active"{% endif %}>Notes</a></li>
    <li><a href="/code/"{% if page.url contains 'code' %} class="active"{% endif %}>Code</a></li>
    <li><a href="/pixels/"{% if page.url contains 'pixels' %} class="active"{% endif %}>Pixels</a></li>
    <li><a href="/sketch/"{% if page.url contains 'sketch' %} class="active"{% endif %}>Sketch</a></li>
    <li><a href="/sounds/"{% if page.url contains 'sounds' %} class="active"{% endif %}>Sounds</a></li>
    <li><a href="/books/"{% if page.url contains 'books' %} class="active"{% endif %}>Books</a></li>
    <li><a href="/faves/"{% if page.url contains 'faves' %} class="active"{% endif %}>Favorites</a></li>
    <!-- <li><a href="/things/"{% if page.url contains 'things' %} class="active"{% endif %}>Things</a></li> -->
  </ul>
</nav>
