/* ==========================================================================
   GRID
   ========================================================================== */

.page-wrap {
  width: 80%;
  margin: auto;
}

.content {
  overflow: hidden;
  .col {
    float: left;
  }
  .col-1-3 {
    width: calc(100%/2);
  }
  .list {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      padding: 10px;
      background: $color-text-light;
    }
  }
}
