/* ==========================================================================
   GRID
   ========================================================================== */

.page-wrap {
  width: 80%;
  margin: 30px auto;
}

.content {
  overflow: hidden;
  .col {
    padding: 15px;
    float: left;
  }
  .col-1-3 {
    width: 33.33%;
  }
  .list {
    list-style: none;
  }
}
