/* ==========================================================================
   GRID
   ========================================================================== */

.page-wrap {
  width: $content-width;
  margin: auto;
}

.content {
  overflow: hidden;
  margin: auto;
  .col {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    float: left;
    margin: 10px;
    h3 {
      margin: 0;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
  .col-1-2 {
    width: 45%;
    h1 {
      font-size: $font-size-3;
    }
    p {
      white-space: pre-line;
    }
  }
  .col-1-1 {
    width: 100%;
    p {
      white-space: pre-line;
    }
  }
  .list {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      padding: 20px;
      time {
        float: right;
      }
    }
  }
}

.header {
  margin-top: 60px;
  margin-bottom: 160px;
  width: 100%;
  .head-para {
    color: $color-light-grey;
    margin: auto;
    h3 {
      margin-top:10px;
      margin-bottom:10px;
      font-size: $font-size-3;
    }
    h2 {
      margin-top:10px;
      margin-bottom:10px;
      font-size: $font-size-2;
    }
  }
}

.post {
  margin: auto;
  width: 90%;
  transition: all ease .5s;
  margin-top: 60px;
  margin-bottom: 60px;
}
