.title {
  color: white;
  width: 100%;
  padding-top: 70px;
  padding-bottom: 70px;
  .title-head {
    h1 {
      text-transform: uppercase;
    }
    &:hover {
      span {
        opacity: 1;
      }
    }
    span {
      transition: all ease 0.5s;
      opacity: 0;
    }
  }
  .about {
    margin-top: 10px;
  }
  .about-text {
    display: none;
    transition: all ease 0.3s;
  }
}

.wrapper {
  header {
    margin-bottom: 30px;
  }
  article {
    margin-bottom: 80px;
    font-family: $serif-font-family;
    font-size: 1.4rem;
  }
}

.home, .post {
  margin-top: 80px;
  margin-bottom: 50px;
}

.title {
  height: 350px;
}

.post {
  .large {
    font-size: 5rem;
  }
}

#particles {
  height: 350px;
  width: 100%;
  z-index: -1;
  position: absolute;
  top: 0;
  background: $text-color;
}
