/**
 * Site header
 */
.site-header {
    min-height: 55px;
    position: absolute;
    width: 100%;
    text-align:center;
    top: 0px;
    z-index: 5;
    left: 0px;
    transition: ease-in-out top .14s;
}
.search {
  background: none;
  border: none;
  outline: none;
  transition: all ease 200ms;
  width: 100%;
  margin-bottom: 40px;
  opacity: .8;
  font-size: $base-font-size;
  &:focus {
    outline: none;
    opacity: 1;
  }
}
.site-title {
    font-size: 26px;
    line-height: 50px;
    margin-bottom: 0;
    float: left;
    &:visited {
        color: $grey-color-dark;
    }
}
a {
  transition: 200ms all ease;
}

.site-nav {
    float: right;
    line-height: 55px;
    font-size: 1.3rem;
    letter-spacing: 1.8;
    text-transform: uppercase;
    color: white;
    .menu-icon {
        display: none;
    }

    .page-link {
      opacity: .8;
        color: white;
        line-height: $base-line-height;
        font-family: $base-font-family;
        // Gaps between nav items, but not on the first one
        &:hover {
          opacity: 1;
        }
        &:not(:first-child) {
            margin-left: 20px;
        }
    }
    .active {
      opacity: 1;
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $brand-color;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 14px;

                path {
                    fill: white;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}

/**
 * Site footer
 */
.site-footer {
    padding: $spacing-unit 0;
    p {
      text-align: center;
      color: $grey-color;
      font-family: $base-font-family;
      font-size: $base-font-size;
      opacity: .5;
      letter-spacing: 6px;
      text-transform: uppercase;
    }
}



/**
 * Page content
 */
 .post {
   padding-top: 30px;
 }
 .post-title, .post-link {
   -webkit-animation: fadeInUp 300ms; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadeInUp 300ms; /* Firefox < 16 */
   -ms-animation: fadeInUp 300ms; /* Internet Explorer */
   -o-animation: fadeInUp 300ms; /* Opera < 12.1 */
   animation: fadeInUp 300ms;
 }
 footer, #top-header-text p, .post-meta {
   -webkit-animation: fadeInUpMeta 350ms; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadeInUpMeta 350ms; /* Firefox < 16 */
   -ms-animation: fadeInUpMeta 350ms; /* Internet Explorer */
   -o-animation: fadeInUpMeta 350ms; /* Opera < 12.1 */
   animation: fadeInUpMeta 350ms;
   animation-delay: 1s;
 }
.post-content, #top-header-text h1 {
  animation-delay: 300ms;
  -webkit-animation: fadeInUp 300ms; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeInUp 300ms; /* Firefox < 16 */
  -ms-animation: fadeInUp 300ms; /* Internet Explorer */
  -o-animation: fadeInUp 300ms; /* Opera < 12.1 */
  animation: fadeInUp 300ms;
}

.page-heading {
    font-size: 20px;
}
.post-list {
  font-family: $base-font-family !important;
    margin-left: 0;
    list-style: none;
    h1 {
      margin: 0;
    }
    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
  opacity: .5;
  margin-top: 5px;
  font-family: $secondary-font-family;
    font-size: $small-font-size;
    font-style: italic;
    color: $grey-color;
    transition: 300ms all ease;
    span {
      cursor: help;
    }
    a {
      transition: 200ms all ease;
      text-transform: capitalize;
      font-weight: bold;
    }
}
.post-link {
    display: block;
    font-size: 28px;
    line-height: $heading-line-height;
    h1 {
      margin-bottom: 0;
    }
}



/**
 * Posts
 */

 .work {
   input.ff-selector-type-all:checked ~ label.ff-label-type-all,
   input.ff-selector-type-1:checked ~ label.ff-label-type-1,
   input.ff-selector-type-2:checked ~ label.ff-label-type-2,
   input.ff-selector-type-3:checked ~ label.ff-label-type-3{
     color: $text-color;
     font-weight: bold;
   }
   input{
     display: none;
   }
   label {
     cursor: pointer;
     margin-right: 20px;
   }
     padding-top: 20px;

   a{
     border-radius: 5px;
     width: 100%;
     height: 100%;
   }
   a span{
     border-radius: 5px;
     display: block;
     font-style: italic;
     color: #fff;
     font-weight: bold;
     padding: 20px;
     position: absolute;
     top:0;
     left: 10px;
     width: 14vw;
     text-align: center;
     -webkit-transition: all 0.3s ease-in;
     -moz-transition: all 0.3s ease-in;
     -o-transition: all 0.3s ease-in;
     -ms-transition: all 0.3s ease-in;
     transition: all 0.3s ease-in;
   }

   li{
     border-radius: 5px;
     margin: 10px;
     float: left;
     height: 14vw;
     width: 14vw;
     list-style-type: none;
     -webkit-transform: scale(1,1);
     -moz-transform: scale(1,1);
     -o-transform: scale(1,1);
     -ms-transform: scale(1,1);
     transform: scale(1,1);
     h1 {
       p {
         font-family: $base-font-family;
         font-weight: bold;
         font-size: $small-font-size * 0.6;
         margin-bottom: 10px;
         margin-top: 20px;
         text-transform: uppercase;
       }
       opacity: 0;
       z-index: 4;
       color: $background-color;
       font-family: $base-font-family;
       position: absolute;

       font-weight: 300;
       margin-left: 30px;
       font-size: $small-font-size * .9 !important;
     }
     span {
       transition: 200ms all ease;
       float: left;
       height: 14vw;
       width: 14vw;
       padding: 0;
       margin: 0;
       margin-left: -10px;
       margin-bottom: -10px;
       position: absolute;
       opacity: 0;
       z-index: 3;
       background: $brand-color;
     }
     img {
       height: 14vw;
       width: 14vw;
       border-radius: 5px;
       transition: 200ms all ease;
       position: absolute;
       float: left;
       display: inline-block;
     }
     &:hover span {
       opacity: .9;
     }
     &:hover h1 {
       opacity: 1;
     }
   }
 }
 @include media-query($on-tablet) {
   .work a span, .work li, .work span, .work img {
     height: 19vw !important;
     width: 19vw !important;
   }
 }
 @include media-query($on-palm) {
   .work a span, .work li, .work span, .work img {
     height: 25vw !important;
     width: 25vw !important;
   }
 }
 @include media-query($on-palm - 100px) {
   .work a span, .work li, .work span, .work img {
     height: 35vw !important;
     width: 35vw !important;
   }
 }
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}
.reading-time {
  font-size: $small-font-size * 0.95;
  font-family: $base-font-family;
}
.post-content {
  margin-top: 30px;
    margin-bottom: 30px;
    a {
      font-weight: bold;
    }
    p {
      font-family: $secondary-font-family;
      font-weight: 100;
      font-size: $small-font-size;
    }

    h2 {
        line-height: 1.3;
        @include media-query($on-laptop) {
            font-size: 35px;
        }
    }
    ul, ol {
      font-family: $secondary-font-family;
      font-size: $small-font-size;
    }
    h3 {
        font-size: 28px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 25px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.faves {
  a {
    display: block;
  }
}
@include media-query($on-palm) {
  .wrapper {
    max-width: 95%;
  }
  h1 {
    font-size: $big-font-size * 0.58 !important;
  }
}

#particles-js{
  height: 400px;
  background: $grey-color-dark;
}

#top-header-text {
  h1, p {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    position: absolute;
    color: white;
  }
  h1 {
    margin-left: 18%;
    margin-top: 120px;
  }
  p {
    opacity: .7;
    margin-left: 18%;
    margin-top: 200px;
  }
}
