/* ==========================================================================
NAVIGATION
========================================================================== */

.navigation {
  text-align: center;
  display:table;
  margin: 50px auto;
  li {
    display:table-cell;
    font-size: $font-size-5;
    font-weight: bold;
    list-style: none;
    padding: 10px;
    vertical-align: middle;
  }
  .logo {
    font-size: $font-size-3;
  }
}
