/* ==========================================================================
NAVIGATION
========================================================================== */

.navigation {
  width: 100%;
  background: $color-theme-dark;
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  li {
    padding: 10px;
    float: left;
  }
  a {
    color: $color-text-light;
  }
}
