/* ==========================================================================
   TYPE
   ========================================================================== */

@font-face {
  font-family: 'Theinhardt';
  src: url('/css/font/Theinhardt Light.otf') format('opentype');
  font-weight: normal;
}
@font-face {
  font-family: 'Theinhardt';
  src: url('/css/font/Theinhardt Light Italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Theinhardt';
  src: url('/css/font/Theinhardt Medium.otf') format('opentype');
  font-weight: bold;
}
@font-face {
  font-family: 'Theinhardt';
  src: url('/css/font/Theinhardt Medium Italic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
 font-family: 'Freight Text';
 src: url('/css/font/FreightText-Light.otf') format('opentype');
 font-weight: normal;
}
@font-face {
 font-family: 'Freight Text';
 src: url('/css/font/FreightText-LightIta.otf') format('opentype');
 font-weight: normal;
 font-style: italic;
}
@font-face {
 font-family: 'Freight Text';
 src: url('/css/font/FreightText-Med.otf') format('opentype');
 font-weight: bold;
}
@font-face {
 font-family: 'Freight Text';
 src: url('/css/font/FreightText-MedIta.otf') format('opentype');
 font-weight: bold;
 font-style: italic;
}

@mixin serif      { font-family: Freight Text, georgia, serif; }
@mixin sans-serif { font-family: Theinhardt, sans-serif; }

/* Headers
   ========================================================================== */

.h1 { font-size: $font-size-1; }
.h2 { font-size: $font-size-2; }
.h3 { font-size: $font-size-3; }
.h4 { font-size: $font-size-4; }
.h5 { font-size: $font-size-5; }
.large {
  font-size: $font-size-05*1.8;
  text-align: center;
  margin: 20px;
}

/* Copy
   ========================================================================== */

* {
  @include sans-serif;
}
article {
  @include serif;
  font-size: $font-size-4;
  a {
    color: $color-theme;
    text-decoration: none;
  }
}

/* Casing
   ========================================================================== */

.caps-lock  { text-transform:uppercase; }
.title-casing { text-transform:capitalize; }



/* Tracking
   ========================================================================== */

.title      {
  letter-spacing:0.1em;
  text-transform:uppercase;
}

/* Alignment
   ========================================================================== */

.ar         { text-align: right;  }
.al         { text-align: left;   }
.ac,
.ct         { text-align: center; }



/* Wrapping
   ========================================================================== */

.nw    { white-space:nowrap; }



/* Leading
   ========================================================================== */

.lh-1       { line-height:1; }
.lh-2       { line-height:2; }
.lh-title   { line-height:1.3; }
.lh-copy    { line-height:1.6; }
