/* ==========================================================================
   VARIABLES
   ========================================================================== */

/* Large Breakpoint */
$LARGE-min-width: 64em;

/* Medium Breakpoint */
$MEDIUM-max-width: 64;
$MEDIUM-min-width: 32em;


$font-size-1:64px;
$font-size-2:48px;
$font-size-3:32px;
$font-size-4:20px;
$font-size-5:16px;

/* Colors */
$color-theme: #e64944;
$color-text-light: #FFF;
