/* ==========================================================================
   VARIABLES
   ========================================================================== */

/* Large Breakpoint */
$LARGE-min-width: 64em;

/* Medium Breakpoint */
$MEDIUM-max-width: 64;
$MEDIUM-min-width: 32em;

$font-size-05: 100px;
$font-size-1:68px;
$font-size-2:50px;
$font-size-3:40px;
$font-size-4:28px;
$font-size-5:22px;

/* Colors */
$color-theme: #e64944;
$color-theme-dark: #281719;
$color-text-light: #F8F8F8;

/* Content Width */
$content-width: 80%;
