---
---
@charset "utf-8";

// Fonts

@font-face {
  font-family: 'Source Sans Pro';
  src: url('/resources/css/fonts/SourceSansPro-Regular.otf');
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('/resources/css/fonts/SourceSansPro-It.otf');
  font-style: italic;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('/resources/css/fonts/SourceSansPro-Semibold.otf');
  font-weight: bold;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('/resources/css/fonts/SourceSansPro-SemiboldIt.otf');
  font-weight: bold;
  font-style: italic;
}
@import url(http://fonts.googleapis.com/css?family=Inconsolata:400,700);

// Variables
$base-font-family: Helvetica Neue, Source Sans Pro, Helvetica, Arial, sans-serif;
$base-font-size:   26px;
$mono-font-family: Inconsolata, Lucida Console, monospace;
$smaller-font-size:  $base-font-size * 0.75;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fcfcfc;
$brand-color:      #03A9F4;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    55%;
$on-palm:          90%;
$on-laptop:        55%;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
"base",
"layout",
"syntax-highlighting";
